# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# Credentials and Secrets
*.pem
*.key
*.env
.env*
credentials.json
*.json
!package.json
!package-lock.json
secrets/
**/secrets/

# Python
__pycache__/
venv/
*.pyc

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
